@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-blue: #273d89;
  --primary-green: #a8b95e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-blue: var(--primary-blue);
  --color-primary-green: var(--primary-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
